{% extends 'file_layout.html' %}

{% block item_header %}
<div class="ui secondary menu">
    <a class="item" id="savechanges"><i class="save icon"></i> Save</a>
</div>
{% endblock %}

{% block file_content %}
{% load staticfiles %}
<div id="editor"></div>
<script src="{% static 'js/ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/ace/ext-modelist.js' %}" type="text/javascript" charset="utf-8"></script>
<script>
    var ITEM_RAW_URL = "{{item_rep.url}}?editor=code&action=raw";
    var ITEM_SAVE_URL = "{{item_rep.url}}?editor=code&action=save";
    var ITEM_FILENAME = "{{item_rep.url}}";
    var editor;

    $(document).ready(function() {
        $.ajax({
            url: ITEM_RAW_URL,
            dataType: "text",
            success: function(data) {
                var modelist = ace.require("ace/ext/modelist");
                var mode = modelist.getModeForPath(ITEM_FILENAME).mode;
                editor = ace.edit("editor");
                editor.$blockScrolling = Infinity;
                editor.setTheme("ace/theme/github");
                editor.getSession().setValue(data, -1);
                editor.getSession().setMode(mode);
                editor.setAutoScrollEditorIntoView(true);
                editor.setOption("minLines", 10);
                editor.setFontSize(14);
                editor.setOption("scrollPastEnd", true);

                var heightUpdateFunction = function() {
                    $('#editor').height($('#editor').parent().height());
                    editor.resize();
                };

                // Set initial size to match initial content
                heightUpdateFunction();

                // Whenever a change happens inside the ACE editor, update
                // the size again
                //editor.getSession().on('change', heightUpdateFunction);
                $( window ).resize(heightUpdateFunction);
            },
        });

        $("#savechanges").on("click", function(){
            $.ajax({
                type: "POST",
                url: ITEM_SAVE_URL,
                datatype: 'json',
                data: {
                    'data': editor.getValue(),
                    'csrfmiddleware‌​token': csrfToken
                },
                success: function(data){
                    alert(data.message);
                },
                error: function(xhr, status, error){
                    alert(error);
                }
            });
        });
    });
</script>
{% endblock %}
