{% extends 'file_layout.html' %}

{% block file_content %}
{% load staticfiles %}
<div id="placeholder"></div>
<script type="text/javascript" src="{{ api_src }}"></script>
<script type="text/javascript">
    $(function(){
        config = {
            "document": {
                "fileType": "{{ ext }}",
                "key": "{{ doc_editor_key }}",
                "title": "{{ item_rep.name }}",
                "url": "{{ http_host }}{{ item_rep.url }}?action=raw",
            },
            "documentType": "{{ doc_type }}",
            "editorConfig": {
                "callbackUrl": "{{ http_host }}{{ item_rep.url }}?action=save_callback",
            },
        };
        var docEditor = new DocsAPI.DocEditor("placeholder", config);
    });
</script>
{% endblock %}