<div class="ui small modal" id="share">
	<div class="content">
        {% if item_rep.sharings %}
            <h3 class="ui header">Shared with</h3>
                <div class="ui middle aligned divided list">
                {% for sharing in item_rep.sharings %}
                    <div class="item">
                        <div class="right floated content">
                            <a class="circular ui icon button" href="?action=unshare&id={{sharing.id}}">
                                <i class="icon delete"></i>
                            </a>
                        </div>
                        <div class="content">
                            {{ sharing.shared_with }} <div class="ui label">{{ sharing.permissions }}</div>
                        </div>
                    </div>
                {% endfor %}
                {% for shared_link in item_rep.shared_links %}
                <div class="item">
                    <div class="right floated content">
                        <a class="circular ui icon button" href="?action=unshare&id={{shared_link.id}}&link=1">
                            <i class="icon delete"></i>
                        </a>
                    </div>
                    <div class="content">
                        <a href="{{ shared_link.url }}">{{ shared_link.link_id }}</a> <div class="ui label">{{ shared_link.permissions }}</div>
                    </div>
                </div>
                {% endfor %}
                </div>
            <div class="ui divider"></div>
        {% endif %}
		<form class="ui form" action="?action=share" method="POST">
            {% csrf_token %}
            <div class="two fields">
                <div class="field">
                    <label>Share with</label>
                    <input type="text" name="target" placeholder="Email" value="" />
                </div>
                <div class="field">
                    <label>Permissions</label>
                    <select class="ui dropdown" name="permissions">
                        <option value="0">Can read</option>
                        <option value="1">Can write</option>
                        <option value="2">Admin</option>
                    </select>
                </div>
            </div>
            <button class="ui primary button" type="submit">Share</button>
		</form>
	</div>
</div>