{% extends 'item_layout.html' %}

{% block item_controls %}
	<div class="ui item">
		<div class="ui dropdown ">
			<i class="add icon"></i>
			<span class="text" onclick="$('#create_new').modal('show');"> New </span>
			<div class="menu">
				{% for creator in creators %}
					<div class="item" onclick="$('#creator-{{ creator.id }}').modal('show');">{{ creator.name }}</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<a class="ui item" href="javascript:;" onclick="$('#upload').modal('show');"><i class="upload icon"></i> Upload</a>
	<div class="ui item"><div class="ui label">{{ item_rep.item.modified }}</div></div>
	<a class="ui item" href="{{ item_rep.url }}?action=download"><i class="download icon"></i> Download</a>
	<a class="ui item" href="{{ item_rep.url }}?action=delete" title="Delete folder and all its contents"><i class="delete icon"></i> Delete</a>
	<div class="ui item" href="javascript:;" onclick="$('.notes').transition('slide left');"><div class="ui button"><i class="file text icon"></i> Notes</div></div>
<script type="text/javascript">
$('.popuped').popup();
$('.dropdown')
  .dropdown({
    // you can use any ui transition
    transition: 'drop',
	action: 'hide'
  });
</script>
{% endblock %}

{% block item_content %}
<div class="ui container">
	{% if child_dirs or child_files %}
	<div class="ui basic segment">
		<div class="thumbnails">
			{% for child in child_dirs %}
			<a class="thumbnail" href="{{ child.url }}">
				<div class="thumbnail-image">
					{% include child.thumbnail %}
				</div>
				<div class="thumbnail-label">{{ child.name }}</div>
			</a>
			{% endfor %}
			{% for child in child_files %}
			<a class="thumbnail" href="{{ child.url }}">
				<div class="thumbnail-image">
					{% include child.thumbnail  with item_rep=child %}
				</div>
				<div class="thumbnail-label">{{ child.name }}</div>
			</a>
			{% endfor %}
		</div>
	</div>
	{% else %}
	<div class="ui center aligned basic segment padded">
		<h3 class="ui header">This folder is empty</h3>
		<div class="ui buttons">
		  <a class="ui button" href="javascript:;" onclick="$('#create_new').modal('show');">New</a>
		  <div class="or"></div>
		  <a class="ui positive button" href="javascript:;" onclick="$('#upload').modal('show');">Upload</a>
		</div>
	</div>
	{% endif %}
 
  <div class="ui small modal" id="upload">
	  <div class="header">Upload file</div>
	  <div class="content">
     <form class="ui form" action="{{ item_rep.url }}?action=upload" enctype="multipart/form-data" method="POST">
		  {% include 'blocks/forms/upload.html' %}
		  <button class="ui primary button" type="submit">Submit</button>
		</form>
	  </div>
	</div>
 
   <div class="ui small modal" id="create_new">
	  <div class="header">Create item</div>
	  <div class="content">
     <form class="ui form" action="{{ item_rep.url }}?action=create_new" enctype="multipart/form-data" method="POST">
		  {% include 'blocks/forms/create_new.html' %}
		  <button class="ui primary button" type="submit">Submit</button>
		</form>
	  </div>
	</div>
 
	{% for creator in creators %}
	<div class="ui small modal" id="creator-{{ creator.Id }}">
	  <div class="header">New {{ creator.name }}</div>
	  <div class="content">
		<form class="ui form" action="?action=create&creator={{ creator.Id }}" enctype="multipart/form-data" method="POST">
		  {% include creator.template %}
		  <button class="ui primary button" type="submit">Submit</button>
		</form>
	  </div>
	</div>
	{% endfor %}
</div>

<script type="text/javascript">
	var thumbnail_colors = [ 'white', 'gray', 'green', 'light-blue', 'magenta', 'orange', 'red', 'teal', 'yellow'];
	//var thumbnail_colors = [ 'white', 'black', 'blue', 'dark-blue', 'gray', 'green', 'light-blue', 'magenta', 'orange', 'red', 'teal', 'yellow'];

	hashCode = function(s, c=0){
	  	return s.split("").reduce(function(a,b){a=((a<<5)-a)+b.charCodeAt(0) + c;return a&a},0);
	}

	function nameToColor(name) {
		var hash = hashCode(name, 28); // also goon random schemes: 12 24 25 26
		var index = hash % thumbnail_colors.length;
		return thumbnail_colors[index];
	}

	$(function() {
	  	$(".file-icon").each(function(index) {
	  		var extension = $( this ).attr('data-extension');
			$( this ).addClass(nameToColor(extension));
	  	});
	});
</script>
{% endblock %}

{% block item_notes %}
	{% if item.index %}
		{% include 'blocks/md_editor' %}
	{% endif %}
{% endblock %}