<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<link href='https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
    <title>{% if title %}{{ title }} — Memorandum{% else %}Memorandum{% endif %}</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/medium-editor.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/medium-editor-themes/beagle.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %}">

    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/medium-editor.min.js' %}"></script>
	<script src="{% static 'js/semantic.min.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<!--<div class="wrapper">-->
	{% block content %}Nothing here.{% endblock %}
	<!--</div>-->
</body>
</html>